<md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools">
        <md-button ng-click="toggleRight()" class="md-icon-button" aria-label="Settings">
          <i class="material-icons">menu</i>
        </md-button>
        <h2>
          <span>Projects</span>
        </h2>
        <span flex></span>
        <!--<md-button class="md-icon-button" aria-label="Favorite">-->
          <!--<i class="material-icons">face</i>-->
        <!--</md-button>-->
        <!--<md-button class="md-icon-button" aria-label="More">-->
          <!--<md-icon md-svg-icon="img/icons/more_vert.svg"></md-icon>-->
        <!--</md-button>-->
      </div>
    </md-toolbar>
    </div>
<md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">

      <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Sidenav Right</h1>
      </md-toolbar>
      <md-content ng-controller="RightCtrl" layout-padding>
        <form>
          <md-input-container>
            <label for="testInput">Test input</label>
            <input type="text" id="testInput"
                   ng-model="data" md-autofocus>
          </md-input-container>
        </form>
        <md-button ng-click="close()" class="md-primary">
          Close Sidenav Right
        </md-button>
      </md-content>

    </md-sidenav>

<ui-view>

</ui-view>