<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <base href="/">
    <title>Issue Tracker</title>

    <link rel="stylesheet" href="static/bower_components/angular-material/angular-material.min.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="/static/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/static/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="/static/bower_components/angular-material/angular-material.min.js"></script>
    <script type="text/javascript" src="/static/bower_components/angular-aria/angular-aria.min.js"></script>
    <script type="text/javascript" src="/static/bower_components/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="/static/bower_components/angular-messages/angular-messages.min.js"></script>
    <script type="text/javascript" src="/static/js/app.js"></script>
    <script type="text/javascript" src="/static/js/controllers.js"></script>
    <script type="text/javascript" src="/static/js/services.js"></script>

</head>


<body ng-app="app">
<!--<div ng-controller="LoginCtrl">-->


<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
    <ui-view>
        <!-- HTML Partials will show up here-->
    </ui-view>
</div>
</body>
</html>
